In [1]:
import pandas as pd
import os

TUNNEL_CSV_PATH = os.path.join('..', 'data', 'time-series-data', 'tunnel.csv')
tunnel = pd.read_csv(TUNNEL_CSV_PATH, parse_dates=["Day"])

In [2]:
tunnel.head(3)

         Day  NumVehicles
0 2003-11-01       103536
1 2003-11-02        92051
2 2003-11-03       100795

In [3]:

tunnel = tunnel.set_index("Day").to_period("D")

tunnel.head()

            NumVehicles
Day
2003-11-01       103536
2003-11-02        92051
2003-11-03       100795
2003-11-04       102352
2003-11-05       106569